<template>
  <q-page class="row q-pa-xl">
    <div class="col-2 q-ml-lg q-gutter-y-lg">
      <q-select
        square
        v-for="filter in filters" :key="filter.index"
        dense
        dropdown-icon="keyboard_arrow_down"
        color="black"
        bg-color="grey-5"
        class="full-width shadow-4"
        filled
        v-model="filter.model"
        :options="filter.options"
        :label=filter.name />
    </div>
    <div class="col q-gutter-x-lg q-gutter-y-xl q-mr-xl row flex justify-end q-mb-xl">
      <itemCard class="q-mr-xs q-mb-sm" v-for="item in items" :key="item.index" />
    </div>
  </q-page>
</template>

<script>
import itemCard from '../components/itemCard'
export default {
  name: 'beltBags',
  components: { itemCard },
  data () {
    return {
      filters: [
        { name: 'сортировка', options: ['wdwad', 'wadaw'], model: '' },
        { name: 'тип товара', options: [ 'сумка', 'шоппер' ], model: '' },
        { name: 'цена', options: ['100', '500'], model: '' },
        { name: 'бренд', options: ['addidas', 'nike'], model: '' },
        { name: 'материал', options: ['fefsef', 'faef'], model: '' },
        { name: 'размер', options: ['l', 's'], model: '' },
        { name: 'цвет', options: ['blue', 'greeen'], model: '' },
        { name: 'принт', options: ['no', 'yes'], model: '' },
        { name: 'форма', options: ['yes', 'no'], model: '' }
      ],
      items: [
        { name: '', price: '' },
        { name: '', price: '' },
        { name: '', price: '' },
        { name: '', price: '' },
        { name: '', price: '' },
        { name: '', price: '' },
        { name: '', price: '' },
        { name: '', price: '' },
        { name: '', price: '' }
      ]
    }
  }
}
</script>

<style scoped>

</style>
