<template>
  <q-page class="row q-py-xl q-gutter-y-xl">

    <div class="col-12 row q-pl-xl">

      <div class="flex column q-col-gutter-y-xl q-pt-lg">
        <bigBlogCard v-for="article in articles.slice(0,2)" :key="article.index"/>
      </div>

      <div class="flex col column justify-center items-center q-gutter-y-lg">
        <smallBlogCard v-for="article in articles.slice(2,5)" :key="article.index"/>
      </div>

    </div>
    <div class="col-12 row q-pr-xl">

      <div class="flex col column justify-center items-center q-gutter-y-lg q-pt-sm">
        <smallBlogCard v-for="article in articles.slice(5,8)" :key="article.index"/>
      </div>

      <div class="flex column q-col-gutter-y-xl">
        <bigBlogCard v-for="article in articles.slice(8,10)" :key="article.index"/>
      </div>

    </div>
    <div class="col-12 row q-pl-xl">

      <div class="flex column q-col-gutter-y-xl">
        <bigBlogCard v-for="article in articles.slice(10,12)" :key="article.index"/>
      </div>

      <div class="flex col column justify-center items-center q-gutter-y-lg">
        <smallBlogCard v-for="article in articles.slice(12,15)" :key="article.index"/>
      </div>

    </div>
  </q-page>
</template>

<script>
import bigBlogCard from '../components/bigBlogCard'
import smallBlogCard from '../components/smallBlogCard'
export default {
  name: 'blog',
  components: { smallBlogCard, bigBlogCard },
  data () {
    return {
      articles: [
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' },
        { name: '', desc: '' }
      ]
    }
  }
}
</script>

<style scoped>

</style>
