<template>
  <div class="fixed-center text-center">
    <p>
      <img
        src="~assets/sad.svg"
        style="width:30vw;max-width:150px;"
      >
    </p>
    <p class="text-h1">Вот что вы здесь забыли...</p>
    <q-btn
      color="secondary"
      style="width:200px;"
      to="/"
      label="Идите лучше назад"
    />
  </div>
</template>

<script>
export default {
  name: 'Error404'
}
</script>
