<template>
  <q-page class="q-px-md q-pb-xl">
    <div class="slider-image flex justify-center">
      <img src="../statics/images/slider.png" alt="">
    </div>
    <div class="title text-h4 flex justify-center q-mb-md">НОВИНКИ</div>
    <div class="row q-col-gutter-lg q-mt-md">
      <div class="col-3" v-for="n in 4" :key="n">
        <itemCard/>
      </div>
    </div>
    <div class="title text-h4 flex justify-center q-mb-md">БЕСТСЕЛЛЕРЫ</div>
    <div class="row q-col-gutter-lg q-mt-md">
      <div class="col-3" v-for="n in 4" :key="n">
        <itemCard/>
      </div>
    </div>
    <div class="title text-h4 flex justify-center q-mb-md">БЛОГ</div>
    <div class="row q-col-gutter-lg q-mt-md">
      <bigBlogCard/>
      <div class="col-6 row q-col-gutter-lg">
        <smallBlogCard/>
        <smallBlogCard/>
        <smallBlogCard/>
        <smallBlogCard/>
      </div>
    </div>
    <div class="title text-h4 flex justify-center q-mb-md">РАСПРОДАЖА</div>
    <div class="row q-col-gutter-md q-my-md">
      <div class="col-3" v-for="n in 4" :key="n">
        <itemCard/>
      </div>
    </div>
  </q-page>
</template>

<script>
import itemCard from '../components/itemCard'
import bigBlogCard from '../components/bigBlogCard'
import smallBlogCard from '../components/smallBlogCard'

export default {
  name: 'Home',
  components: {
    itemCard,
    bigBlogCard,
    smallBlogCard
  }
}
</script>

<style scoped>
  .title {
    margin-top: 90px;
  }

  .slider-image {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
</style>
