<template>
    <div class="col-6">
        <router-link to="/article" style="text-decoration: none">
        <q-card class="my-card" flat>
          <img src="../statics/images/bigblog.png" alt="">

          <q-card-section class="card-text text-black">
              <div class="text-h4">ОГНЕННЫЕ ПРИНТЫ</div>
              <div class="text-h5">подборка модных тем принтов</div>
          </q-card-section>
        </q-card>
        </router-link>
        </div>
</template>

<script>

export default {
  name: 'bigBlogCard',
  props: {
    data: Object
  }
}
</script>

<style scoped>
  .my-card {
      border: 1px solid black;
      border-radius: 0;
  }
  .card-text {
      border-top: 1px solid black;
  }
</style>
