<template>
  <div class="col-7">
      <q-card class="my-card row">
        <div class="q-ma-sm flex col-3 justify-center">
          <q-img src="../statics/images/Item.png" class="image image-adaptive" />
        </div>

        <q-card-section class="col row q-pa-none text-black text-h5">
          <div class="flex col-12 row q-mb-xl">
            <div class="flex q-pt-sm col column">
              <div>VANS</div>
              <div>VAN-945201-sus</div>
            </div>
            <div class="q-mt-lg col flex justify-center" style="font-size: 28px">1 199  РУБ</div>
            <div class="col q-mr-lg q-mt-lg">
              <q-btn
                dense
                class="bg-white float-right"
                rounded
                outline>
                <div style="font-size: 22px">Удалить</div>
                <q-icon class="icon-shadow" name="clear" right />
              </q-btn>
            </div>
          </div>
          <div class="q-mb-xl q-pb-md flex col-9">
            <div class="col q-mr-xl flex column items-center">
              <div style="font-size: 22px">Размер</div>
              <q-select
                bg-color="white"
                dense
                class="full-width"
                options-dense
                rounded
                color="black"
                outlined
                v-model="size"
                :options="sizes"
                dropdown-icon="keyboard_arrow_down" />
              <!--              <q-icon size="24px" class="self-center" name="keyboard_arrow_down" right color="black"></q-icon>-->
            </div>
            <div class="col q-mr-xl flex column items-center">
              <div style="font-size: 22px">Цвет</div>
              <q-select
                bg-color="white"
                class="full-width"
                dense
                options-dense
                rounded
                color="black"
                outlined
                v-model="color"
                :options="colors"
                dropdown-icon="keyboard_arrow_down" />
            </div>
            <div class="col flex column items-center" style="font-size: 22px">
              <div>Количество</div>
              <div class="full-width bg-white image amount flex items-center row justify-center">
                <q-btn icon="remove" class="col shadow-4 q-ml-xs" dense rounded outline @click="decreaseAmount"></q-btn>
                <div class="col flex justify-center">{{amount}}</div>
                <q-btn icon="add" class="col shadow-4 q-mr-xs" dense rounded outline @click="increaseAmount"></q-btn>
              </div>
            </div>
          </div>
        </q-card-section>
      </q-card>
  </div>
</template>

<script>

export default {
  name: 'itemCard',
  props: {
    data: Object
  },
  data () {
    return {
      size: null,
      color: null,
      amount: 1,
      sizes: [
        'xs', 'sm', 'm', 'l', 'xl', 'xxl'
      ],
      colors: [
        'blue', 'red', 'green'
      ]
    }
  },
  methods: {
    increaseAmount () {
      this.amount += 1
    },
    decreaseAmount () {
      this.amount -= 1
    }
  }
}
</script>

<style scoped>
  .my-card {
    border: 1px solid black;
    border-radius: 30px;
    background: #EDEDED;
  }
  .image {
    position: relative;
    border-radius: 60px;
    /* background-color: white; */
  }
  .image-adaptive {
    width: 100%;
    height: auto;
  }
  .icon-shadow {
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
  }
  .amount {
    height: 100%;
    max-height: 40px;
    border: #d1d1d1 1px solid;
    transition: 0.5s;
  }
  .amount:hover{
    border: #000 1px solid
  }
</style>
