<template>
  <q-layout view="hHh lpR fFf">

    <q-header class="bg-white text-black bordered">
      <q-toolbar class="q-px-md row">
        <q-toolbar-title class="flex items-center col-2">
          <router-link to="/" class="logo">stylefree</router-link>
        </q-toolbar-title>
        <q-btn-group
          class="col-4"
          flat
          stretch
          spread
          toggle-color="blue">
          <q-btn class="text-h5 text-shadow" label="бренды" to="/brands" />
          <q-btn class="text-h5 text-shadow" label="поясные сумки" to="/bags"/>
          <q-btn class="text-h5 text-shadow" label="шопперы" to="/shoppers"/>
          <q-btn class="text-h5 text-shadow" label="sale" to="/sale"/>
        </q-btn-group>
        <div class="flex col justify-end">
          <q-input outlined color="black" dense rounded v-model="keyword" class="text-h5 col-3 q-mr-xl text-shadow" type="email" suffix="Поиск" />
          <div class="flex items-center q-gutter-x-md">
            <router-link style="line-height: 0" to="/favorites"><img src="../statics/icons/Favorites.svg" width="100%" class="q-mr-xs" style="max-width: 35px" alt=""></router-link>
            <router-link style="line-height: 0" to="/cart"><img src="../statics/icons/cart.svg" width="100%" class="q-mr-xs" style="max-width: 35px" alt=""></router-link>
            <router-link style="line-height: 0" to="/login"><img src="../statics/icons/User.svg" width="100%" style="max-width: 35px" alt=""></router-link>
          </div>
        </div>
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <div class="q-mt-xl bg-white text-black upbordered">
      <q-toolbar class="q-pa-none q-ma-none q-gutter-x-md flex">
        <div class="col q-mr-xs q-ml-none self-start flex column items-center">
          <div class="text-h5 q-my-md">Способ оплаты</div>
          <div class="flex q-gutter-x-md q-gutter-y-lg q-mt-xs">
            <a class="payment-link q-mr-xs q-mt-none q-mb-xs" href="http://www.ddd2.ml/"><img src="../statics/icons/Visa dark.svg" alt=""></a>
            <a class="payment-link q-mr-xs q-mt-none q-mb-xs" href="http://www.ddd2.ml/"><img src="../statics/icons/Mastercard.svg" alt=""></a>
            <a class="payment-link q-mb-xs q-mt-none" href="http://www.ddd2.ml/"><img src="../statics/icons/AmericanExpress dark.svg" alt=""></a>
            <a class="payment-link q-mr-xs" href="http://www.ddd2.ml/"><img class="payment-link" src="../statics/icons/Google Pay.svg" alt=""></a>
            <a class="payment-link" href="http://www.ddd2.ml/"><img src="../statics/icons/Apple Pay.svg" alt=""></a>
          </div>
        </div>
        <div class="col q-mr-xs flex column items-center">
          <div class="text-h5 q-my-md">Подписка на рассылку</div>
          <q-btn label="email" class="shadow-0 text-h5 full-width q-mb-xl" rounded outline></q-btn>
          <div class="text-h5 q-mt-xl q-mb-sm">Социальные сети</div>
          <div class="flex q-mt-xs justify-center q-gutter-x-lg q-mb-xs">
            <a href="https://www.facebook.com/"><img class="q-mt-none q-mb-xs" src="../statics/icons/Facebook.svg" alt=""></a>
            <a href="https://www.instagram.com/?hl=ru"><img class="q-mt-none q-mb-xs" src="../statics/icons/Instagram.svg" alt=""></a>
            <a href="https://www.youtube.com/"><img class="q-mt-none q-mb-xs" src="../statics/icons/Youtube.svg" alt=""></a>
            <a href="https://vk.com/my_fury_have_no_bounce"><img class="q-mt-none q-mb-xs" src="../statics/icons/VK.svg" alt=""></a>
          </div>
        </div>
        <div class="col q-mr-xs self-start flex column items-center">
          <div class="text-h5 q-my-md">Служба поддержки</div>
          <div class="flex column q-gutter-y-xs q-mt-xs items-center">
            <router-link to="/order" class="info">Заказ</router-link>
            <router-link to="/delivery" class="info">Доставка</router-link>
            <router-link to="/purchase" class="info">Оплата</router-link>
            <router-link to="/decline" class="info">Обмен / Возврат</router-link>
          </div>
        </div>
        <div class="col self-start flex column items-center">
          <div class="text-h5 q-my-md">о магазине</div>
          <div class="flex q-gutter-y-xs column q-mt-xs items-center">
            <router-link to="about" class="info">О Нас</router-link>
            <router-link to="contacts" class="info">Контакты</router-link>
            <router-link to="blog" class="info">Блог</router-link>
            <router-link to="feedback" class="info">Отзывы</router-link>
          </div>
        </div>
      </q-toolbar>
    </div>

  </q-layout>
</template>

<script>
export default {
  data () {
    return {
      keyword: null
    }
  }
}
</script>
<style>
  @import "https://fonts.googleapis.com/css?family=Ledger&display=swap";
  @font-face {
    font-family: "Milk Mustache BB(RUS BY LYAJKA)";
    src: url("../statics/fonts/milk.otf")
  }
  @font-face {
    font-family: "This Night";
    src: url("../statics/fonts/night.otf")
  }
  * {
    font-family: "Milk Mustache BB(RUS BY LYAJKA)", "serif"
  }
  .logo {
    font-family: "This Night", "serif";
    font-size: 40px;
  }
  .bordered {
    border-bottom: #000 1px solid;
  }
  .text-shadow {
    text-shadow: 0 4px 4px rgba(0,0,0,0.25);
  }
  .upbordered {
    border-top: #000 1px solid;
  }
  .info {
    font-family: 'Ledger', 'serif';
    font-size:18px;
    line-height: 40px;
  }
  a {
    text-decoration: none;
    color: black;
  }
  .payment-link {
    width: 100%;
    max-width: 90px;
    height: 100%;
    max-height: 54px;
  }
</style>
